# Sorting, Counting, Subset

## Import libraries

In [1]:
## import libraries
import pandas as pd

## Upload Olympics datasets to this notebook.

### Import ```olympics-summer.csv``` and store in a dataframe called ```dfs``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv">link</a>).


### Import ```olympics-winter.csv``` and store in a dataframe called ```dfw``` (<a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv">link</a>).

In [4]:
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")

In [5]:
dfw.tail()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [6]:
dfs.head

<bound method NDFrame.head of             ID                        Athlete Name Sex   Age  Height  Weight  \
0         1724              Aristidis Akratopoulos   M   NaN     NaN     NaN
1         1724              Aristidis Akratopoulos   M   NaN     NaN     NaN
2         1725  Konstantinos "Kostas" Akratopoulos   M   NaN     NaN     NaN
3         1725  Konstantinos "Kostas" Akratopoulos   M   NaN     NaN     NaN
4         4113                  Anastasios Andreou   M   NaN     NaN     NaN
...        ...                                 ...  ..   ...     ...     ...
222547  135528                       Marc Zwiebler   M  32.0   181.0    75.0
222548  135547       Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
222549  135547       Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
222550  135547       Viktoriya Viktorovna Zyabkina   F  23.0   174.0    62.0
222551  135568              Olga Igorevna Zyuzkova   F  33.0   171.0    69.0

              Team  NOC  Year            City       Sport  \
0           Greece  GRE  1896          Athina      Tennis
1         Greece-3  GRE  1896          Athina      Tennis
2           Greece  GRE  1896          Athina      Tennis
3         Greece-3  GRE  1896          Athina      Tennis
4           Greece  GRE  1896          Athina   Athletics
...            ...  ...   ...             ...         ...
222547     Germany  GER  2016  Rio de Janeiro   Badminton
222548  Kazakhstan  KAZ  2016  Rio de Janeiro   Athletics
222549  Kazakhstan  KAZ  2016  Rio de Janeiro   Athletics
222550  Kazakhstan  KAZ  2016  Rio de Janeiro   Athletics
222551     Belarus  BLR  2016  Rio de Janeiro  Basketball

                                         Event Medal
0                         Tennis Men's Singles   NaN
1                         Tennis Men's Doubles   NaN
2                         Tennis Men's Singles   NaN
3                         Tennis Men's Doubles   NaN
4           Athletics Men's 110 metres Hurdles   NaN
...                                        ...   ...
222547                 Badminton Men's Singles   NaN
222548            Athletics Women's 100 metres   NaN
222549            Athletics Women's 200 metres   NaN
222550  Athletics Women's 4 x 100 metres Relay   NaN
222551           Basketball Women's Basketball   NaN

[222552 rows x 13 columns]>

In [7]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 22.1+ MB

In [8]:
dfw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48564 entries, 0 to 48563
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            48564 non-null  int64
 1   Athlete Name  48564 non-null  object
 2   Sex           48564 non-null  object
 3   Age           48279 non-null  float64
 4   Height        40250 non-null  float64
 5   Weight        39543 non-null  float64
 6   Team          48564 non-null  object
 7   NOC           48564 non-null  object
 8   Year          48564 non-null  int64
 9   City          48564 non-null  object
 10  Sport         48564 non-null  object
 11  Event         48564 non-null  object
 12  Medal         5695 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 4.8+ MB

In [ ]:
## subsetting dataframe into smaller, targeted datframes 
## specific columns

In [10]:
## filtered data to just three required columns

df_sub = dfw[["Year","City","Team"]]
df_sub

       Year      City            Team
0      1924  Chamonix   United States
1      1924  Chamonix  Czechoslovakia
2      1924  Chamonix     Switzerland
3      1924  Chamonix     Switzerland
4      1924  Chamonix     Switzerland
...     ...       ...             ...
48559  2014     Sochi          Russia
48560  2014     Sochi          Latvia
48561  2014     Sochi          Latvia
48562  2014     Sochi          Poland
48563  2014     Sochi          Poland

[48564 rows x 3 columns]

In [16]:
## .filter() to filter down a large datframe
dfw.filter(["Year","City","Team"])

       Year      City            Team
0      1924  Chamonix   United States
1      1924  Chamonix  Czechoslovakia
2      1924  Chamonix     Switzerland
3      1924  Chamonix     Switzerland
4      1924  Chamonix     Switzerland
...     ...       ...             ...
48559  2014     Sochi          Russia
48560  2014     Sochi          Latvia
48561  2014     Sochi          Latvia
48562  2014     Sochi          Poland
48563  2014     Sochi          Poland

[48564 rows x 3 columns]

In [18]:
dfw.filter(like="eight")

       Height  Weight
0       185.0   102.0
1         NaN     NaN
2         NaN     NaN
3         NaN     NaN
4         NaN     NaN
...       ...     ...
48559   189.0    90.0
48560   185.0    87.0
48561   185.0    87.0
48562   176.0    59.0
48563   176.0    59.0

[48564 rows x 2 columns]

In [22]:
## sort by athletes names A-Z. Sorting.

dfw.sort_values(by="Athlete Name", ascending= True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
2788,56427,Aage Justesen,M,30.0,NaN,NaN,Denmark,DEN,1948,Sankt Moritz,Speed Skating,Speed Skating Men's 500 metres,NaN
15974,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,Speed Skating Women's 500 metres,NaN
15975,13348,"Aaltje Grietje ""Alie"" Boorsma",F,24.0,179.0,75.0,Netherlands,NED,1984,Sarajevo,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
3799,49758,Aarne Vin Edward Honkavaara,M,27.0,184.0,81.0,Finland,FIN,1952,Oslo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
44053,12407,Aaron Blunck,M,17.0,180.0,78.0,United States,USA,2014,Sochi,Freestyle Skiing,Freestyle Skiing Men's Halfpipe,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15622,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
15623,122902,yvind Tveter,M,25.0,190.0,89.0,Norway,NOR,1980,Lake Placid,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
8706,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
8705,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
8704,5787,zer Atei,M,25.0,180.0,72.0,Turkey,TUR,1968,Grenoble,Alpine Skiing,Alpine Skiing Men's Downhill,NaN

In [25]:
##sort by city and year. Use another list, to do more than one

dfw.sort_values(by = ["City", "Year"], ascending = False)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
39271,121,Muhammad Abbas,M,23.0,168.0,55.0,Pakistan,PAK,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
39272,145,Jeremy Abbott,M,24.0,175.0,70.0,United States,USA,2010,Vancouver,Figure Skating,Figure Skating Men's Singles,NaN
39273,452,Enver Nazymovych Ablaiev,M,30.0,169.0,68.0,Ukraine,UKR,2010,Vancouver,Freestyle Skiing,Freestyle Skiing Men's Aerials,NaN
39274,532,Iason Abramashvili,M,21.0,176.0,82.0,Georgia,GEO,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
39275,532,Iason Abramashvili,M,21.0,176.0,82.0,Georgia,GEO,2010,Vancouver,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24010,135447,Matja Zupan,M,23.0,179.0,60.0,Slovenia,SLO,1992,Albertville,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
24011,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
24012,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Super G,NaN
24013,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Giant Slalom,NaN
24014,135464,Heidi Zurbriggen (-Andenmatten),F,24.0,167.0,64.0,Switzerland,SUI,1992,Albertville,Alpine Skiing,Alpine Skiing Women's Combined,NaN

In [29]:
dfs["Season"] = "Summer"
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            222552 non-null  int64
 1   Athlete Name  222552 non-null  object
 2   Sex           222552 non-null  object
 3   Age           213363 non-null  float64
 4   Height        170695 non-null  float64
 5   Weight        168698 non-null  float64
 6   Team          222552 non-null  object
 7   NOC           222552 non-null  object
 8   Year          222552 non-null  int64
 9   City          222552 non-null  object
 10  Sport         222552 non-null  object
 11  Event         222552 non-null  object
 12  Medal         34088 non-null   object
 13  Season        222552 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 23.8+ MB

In [35]:
dfw["Season"] = "Winter"
dfw.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,Winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter

In [38]:
list(dfs.columns) == list(dfw.columns)

True

In [41]:
df = pd.concat([dfw, dfs], ignore_index = True)
df

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,Winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,Summer
271112,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,Summer
271113,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,Summer
271114,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,Summer
271115,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Summer

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 29.0+ MB

In [43]:
df["Medal"].unique()

array(['Silver', nan, 'Bronze', 'Gold'], dtype=object)

In [44]:
df["Sex"].unique()

array(['M', 'F'], dtype=object)

In [ ]:
## Save them as categories so the search for a unique indicator is faster

In [49]:
df["Sex"] = df["Sex"].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   object
 13  Season        271116 non-null  object
dtypes: category(1), float64(3), int64(2), object(8)
memory usage: 27.1+ MB

In [51]:
df[["Medal", "Season"]] = df[["Medal", "Season"]].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  category
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(3), float64(3), int64(2), object(6)
memory usage: 23.5+ MB

In [55]:
## Find specific type of data. df that only holds Sochi

df_sochi = df.query('City == "Sochi"')
df_sochi

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
43673,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Winter
43674,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN,Winter
43675,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
43676,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter
43677,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,Winter
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,Winter
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Winter
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Winter

In [53]:
df.query('Medal == "Gold"')

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
16,5932,Alfred Aufdenblatten,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,Gold,Winter
23,10435,Alfred Berger,M,29.0,NaN,NaN,Austria,AUT,1924,Chamonix,Figure Skating,Figure Skating Mixed Pairs,Gold,Winter
45,15656,Charles Granville Bruce,M,57.0,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
46,15659,John Geoffrey Bruce,M,27.0,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
55,16457,Tejbir Bura,M,NaN,NaN,NaN,Nepal,NEP,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271041,134740,Zheng Shuyin,F,22.0,188.0,75.0,China,CHN,2016,Rio de Janeiro,Taekwondo,Taekwondo Women's Heavyweight,Gold,Summer
271043,134759,Viktoriya Yuryevna Zhilinskayte,F,27.0,188.0,80.0,Russia,RUS,2016,Rio de Janeiro,Handball,Handball Women's Handball,Gold,Summer
271047,134783,Zhong Tianshi,F,25.0,168.0,62.0,China,CHN,2016,Rio de Janeiro,Cycling,Cycling Women's Team Sprint,Gold,Summer
271064,134857,Zhu Ting,F,21.0,198.0,78.0,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold,Summer
271082,135205,Shakhobiddin Shokirovich Zoirov,M,23.0,169.0,52.0,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold,Summer

In [60]:
## df holds oonly data ass w Jeremy Abbott. USE TICK MARK

df_abbott = df.query('`Athlete Name` == "Jeremy Abbott"')
df_abbott

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
39272,145,Jeremy Abbott,M,24.0,175.0,70.0,United States,USA,2010,Vancouver,Figure Skating,Figure Skating Men's Singles,NaN,Winter
43675,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Men's Singles,NaN,Winter
43676,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze,Winter
139567,146,Jeremy Abbott,M,19.0,179.0,71.0,Canada,CAN,1976,Montreal,Canoeing,"Canoeing Men's Canadian Doubles, 1,000 metres",NaN,Summer

In [62]:
df_1984 = df.query('Year == 1984')
df_1984

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
15806,26,Agnes Erika Aanonsen (-Eyde),F,17.0,169.0,65.0,Norway,NOR,1984,Sarajevo,Luge,Luge Women's Singles,NaN,Winter
15807,523,Trond Sevg Abrahamsen,M,23.0,183.0,87.0,Norway,NOR,1984,Sarajevo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Winter
15808,794,Janusz Andrzej Adamiec,M,21.0,176.0,74.0,Poland,POL,1984,Sarajevo,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,Winter
15809,998,ke Ronnie Adolfsson,M,27.0,180.0,77.0,Sweden,SWE,1984,Sarajevo,Biathlon,Biathlon Men's 10 kilometres Sprint,NaN,Winter
15810,998,ke Ronnie Adolfsson,M,27.0,180.0,77.0,Sweden,SWE,1984,Sarajevo,Biathlon,Biathlon Men's 20 kilometres,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164843,135416,Star Zulu,M,NaN,NaN,NaN,Zambia,ZAM,1984,Los Angeles,Boxing,Boxing Men's Bantamweight,NaN,Summer
164844,135441,Rafael Zuiga Medrano,M,21.0,173.0,57.0,Colombia,COL,1984,Los Angeles,Boxing,Boxing Men's Featherweight,NaN,Summer
164845,135445,Zuo Yue,M,21.0,192.0,88.0,China,CHN,1984,Los Angeles,Volleyball,Volleyball Men's Volleyball,NaN,Summer
164846,135480,Geeta Zutshi,F,27.0,167.0,51.0,India,IND,1984,Los Angeles,Athletics,"Athletics Women's 3,000 metres",NaN,Summer
164847,135527,Rolf Zwicky,M,26.0,175.0,70.0,Switzerland,SUI,1984,Los Angeles,Sailing,Sailing Mixed Multihull,NaN,Summer

In [65]:
##Return all the competitions between 1920 and 1950

df.query('1920 <= Year <= 1950')

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,Winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,Winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,Winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91447,135510,Jan Marcus Zwaan,M,22.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 110 metres Hurdles,NaN,Summer
91448,135511,"Johan Gerard ""Jo"" Zwaan",M,25.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 100 metres,NaN,Summer
91449,135511,"Johan Gerard ""Jo"" Zwaan",M,25.0,NaN,NaN,Netherlands,NED,1948,London,Athletics,Athletics Men's 4 x 100 metres Relay,NaN,Summer
91450,135517,Fritz Zwazl,M,22.0,NaN,NaN,Austria,AUT,1948,London,Swimming,Swimming Men's 100 metres Backstroke,NaN,Summer
91451,135534,"John Michael ""Jack"" Zwierewich",M,19.0,NaN,NaN,Canada,CAN,1948,London,Rowing,Rowing Men's Coxed Eights,NaN,Summer

In [72]:
## find tennis and women only between 1972 and as recent as possible, data frame.

df.query('(Year > 1972) and (Sport == "Tennis") and (Sex == "F")')

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
165648,8485,Carling Kathrin Bassett-Seguso,F,20.0,168.0,54.0,Canada,CAN,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Summer
165649,8485,Carling Kathrin Bassett-Seguso,F,20.0,168.0,54.0,Canada,CAN,1988,Seoul,Tennis,Tennis Women's Doubles,NaN,Summer
165651,8522,"Nani Rahayu ""Yayuk"" Basuki-Suharyadi",F,17.0,165.0,55.0,Indonesia,INA,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Summer
165831,10449,Ilana Berger,F,22.0,169.0,63.0,Israel,ISR,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Summer
166124,13918,Oarda Bouchabou,F,18.0,NaN,NaN,Algeria,ALG,1988,Seoul,Tennis,Tennis Women's Singles,NaN,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270690,132098,Xu Yifan,F,27.0,165.0,60.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer
271007,134544,Zhang Shuai,F,27.0,177.0,66.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Summer
271008,134544,Zhang Shuai,F,27.0,177.0,66.0,China-1,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer
271039,134739,Zheng Saisai,F,22.0,170.0,62.0,China,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Summer
271040,134739,Zheng Saisai,F,22.0,170.0,62.0,China-2,CHN,2016,Rio de Janeiro,Tennis,Tennis Women's Doubles,NaN,Summer

In [76]:
df_gold = df.query("Medal == 'Gold'")
df_gold

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
16,5932,Alfred Aufdenblatten,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,Gold,Winter
23,10435,Alfred Berger,M,29.0,NaN,NaN,Austria,AUT,1924,Chamonix,Figure Skating,Figure Skating Mixed Pairs,Gold,Winter
45,15656,Charles Granville Bruce,M,57.0,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
46,15659,John Geoffrey Bruce,M,27.0,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
55,16457,Tejbir Bura,M,NaN,NaN,NaN,Nepal,NEP,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271041,134740,Zheng Shuyin,F,22.0,188.0,75.0,China,CHN,2016,Rio de Janeiro,Taekwondo,Taekwondo Women's Heavyweight,Gold,Summer
271043,134759,Viktoriya Yuryevna Zhilinskayte,F,27.0,188.0,80.0,Russia,RUS,2016,Rio de Janeiro,Handball,Handball Women's Handball,Gold,Summer
271047,134783,Zhong Tianshi,F,25.0,168.0,62.0,China,CHN,2016,Rio de Janeiro,Cycling,Cycling Women's Team Sprint,Gold,Summer
271064,134857,Zhu Ting,F,21.0,198.0,78.0,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold,Summer
271082,135205,Shakhobiddin Shokirovich Zoirov,M,23.0,169.0,52.0,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold,Summer

In [85]:
## 10 countries with most gold

df_goldtop = df_gold.value_counts("Team").to_frame("Number Gold")

df_goldtop

               Number Gold
Team
United States         2474
Soviet Union          1058
Germany                679
Italy                  535
Great Britain          519
...                    ...
Nrnberg                  1
Kosovo                   1
Peru                     1
Baby-1                   1
Puerto Rico              1

[242 rows x 1 columns]

In [86]:
df_goldtop.head(10)

               Number Gold
Team
United States         2474
Soviet Union          1058
Germany                679
Italy                  535
Great Britain          519
France                 455
Sweden                 451
Hungary                432
Canada                 422
East Germany           369

In [90]:
## return as %

df_goldtop = (df_gold.value_counts("Team", normalize = True)*100).to_frame("PCT Gold").head(10)
df_goldtop

                PCT Gold
Team
United States  18.501346
Soviet Union    7.912055
Germany         5.077774
Italy           4.000897
Great Britain   3.881244
France          3.402632
Sweden          3.372719
Hungary         3.230631
Canada          3.155848
East Germany    2.759497